.delivery {
    background-image: url('../../assets/images/delivery.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 80px 0;
}

.delivery_wrap {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.delivery_wrap .delivery_img {
    height: 400px;
}

.delivery_title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
    .delivery_title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .delivery_title {
        font-size: 35px;
        line-height: 45px;
    }

    .delivery_wrap {
        flex-direction: column;
    }

    .delivery_wrap .delivery_img {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .delivery_title {
        font-size: 30px;
        line-height: 40px;
    }
}